USE [master]
GO
/****** Objeto: Database [Oferta_Academica_DBB] Fecha de script: 07/10/2026 16:14:48 ******/
CREATE DATABASE [Oferta_Academica_DBB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Oferta_Academica_DBB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SEBASOBANDO\MSSQL\DATA\Oferta_Academica_DBB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Oferta_Academica_DBB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SEBASOBANDO\MSSQL\DATA\Oferta_Academica_DBB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Oferta_Academica_DBB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Oferta_Academica_DBB]
GO
/****** Objeto: UserDefinedTableType [dbo].[TelefonoProfesorType] Fecha de script: 07/10/2026 16:14:49 ******/
CREATE TYPE [dbo].[TelefonoProfesorType] AS TABLE(
	[Telefono] [varchar](25) NOT NULL
)
GO
/****** Objeto: Table [dbo].[Carreras] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[CarreraCode] [varchar](15) NOT NULL,
	[InstitucionCode] [varchar](15) NOT NULL,
	[DirectorID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Carreras] PRIMARY KEY CLUSTERED 
(
	[CarreraCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Carreras_Institucion_Nombre] UNIQUE NONCLUSTERED 
(
	[InstitucionCode] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cursos] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[CursoCode] [varchar](15) NOT NULL,
	[CarreraCode] [varchar](15) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Nivel] [tinyint] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[CursoCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cursos_Carrera_Nombre] UNIQUE NONCLUSTERED 
(
	[CarreraCode] ASC,
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Grupos] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[GrupoCode] [varchar](15) NOT NULL,
	[CursoCode] [varchar](15) NOT NULL,
	[PeriodoID] [uniqueidentifier] NOT NULL,
	[ProfesorID] [uniqueidentifier] NOT NULL,
	[NumeroGrupo] [tinyint] NOT NULL,
	[Horario] [varchar](30) NOT NULL,
	[Cupo] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Grupos] PRIMARY KEY CLUSTERED 
(
	[GrupoCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Grupos_Curso_Periodo_NumeroGrupo] UNIQUE NONCLUSTERED 
(
	[CursoCode] ASC,
	[PeriodoID] ASC,
	[NumeroGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Instituciones] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instituciones](
	[InstitucionCode] [varchar](15) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Instituciones] PRIMARY KEY CLUSTERED 
(
	[InstitucionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Instituciones_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Periodos] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodos](
	[PeriodoID] [uniqueidentifier] NOT NULL,
	[NumeroPeriodo] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Anio] [smallint] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Periodos] PRIMARY KEY CLUSTERED 
(
	[PeriodoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Periodos_Anio_NumeroPeriodo] UNIQUE NONCLUSTERED 
(
	[Anio] ASC,
	[NumeroPeriodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Profesores] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[ProfesorID] [uniqueidentifier] NOT NULL,
	[UsuarioID] [uniqueidentifier] NULL,
	[TipoIdentificacionCode] [varchar](15) NOT NULL,
	[Identificacion] [varchar](30) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[NombreCompleto] [varchar](175) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[ProfesorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Profesores_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Profesores_Identificacion] UNIQUE NONCLUSTERED 
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TelefonosXProfesores] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TelefonosXProfesores](
	[TelefonoXProfesor] [int] IDENTITY(1,1) NOT NULL,
	[ProfesorID] [uniqueidentifier] NOT NULL,
	[Telefono] [varchar](25) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_TelefonosXProfesores] PRIMARY KEY CLUSTERED 
(
	[TelefonoXProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TelefonosXProfesores_ProfesorID_Telefono] UNIQUE NONCLUSTERED 
(
	[ProfesorID] ASC,
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carreras] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Cursos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Grupos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Instituciones] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Periodos] ADD  DEFAULT (newsequentialid()) FOR [PeriodoID]
GO
ALTER TABLE [dbo].[Periodos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT (newsequentialid()) FOR [ProfesorID]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[TelefonosXProfesores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [FK_Carreras_Director] FOREIGN KEY([DirectorID])
REFERENCES [dbo].[Profesores] ([ProfesorID])
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [FK_Carreras_Director]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [FK_Carreras_Institucion] FOREIGN KEY([InstitucionCode])
REFERENCES [dbo].[Instituciones] ([InstitucionCode])
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [FK_Carreras_Institucion]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Carrera] FOREIGN KEY([CarreraCode])
REFERENCES [dbo].[Carreras] ([CarreraCode])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Carrera]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [FK_Grupos_Curso] FOREIGN KEY([CursoCode])
REFERENCES [dbo].[Cursos] ([CursoCode])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [FK_Grupos_Curso]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [FK_Grupos_Periodo] FOREIGN KEY([PeriodoID])
REFERENCES [dbo].[Periodos] ([PeriodoID])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [FK_Grupos_Periodo]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [FK_Grupos_Profesor] FOREIGN KEY([ProfesorID])
REFERENCES [dbo].[Profesores] ([ProfesorID])
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [FK_Grupos_Profesor]
GO
ALTER TABLE [dbo].[TelefonosXProfesores]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosXProfesores_Profesor] FOREIGN KEY([ProfesorID])
REFERENCES [dbo].[Profesores] ([ProfesorID])
GO
ALTER TABLE [dbo].[TelefonosXProfesores] CHECK CONSTRAINT [FK_TelefonosXProfesores_Profesor]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [CH_Carreras_CarreraCode_Formato] CHECK  ((len(Trim([CarreraCode]))>=(1) AND len(Trim([CarreraCode]))<=(15) AND NOT ([CarreraCode]) collate Latin1_General_BIN like '%[^A-Z0-9]%'))
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [CH_Carreras_CarreraCode_Formato]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [CH_Carreras_Nombre_NoVacio] CHECK  ((len(Trim([Nombre]))>(0) AND NOT [Nombre] like ' %' AND NOT [Nombre] like '% ' AND NOT [Nombre] like '%  %'))
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [CH_Carreras_Nombre_NoVacio]
GO
ALTER TABLE [dbo].[Carreras]  WITH CHECK ADD  CONSTRAINT [CH_Carreras_Nombre_SoloLetras] CHECK  ((NOT [Nombre] like '%[^A-Za-zÁÉÍÓÚáéíóúÑñ ]%'))
GO
ALTER TABLE [dbo].[Carreras] CHECK CONSTRAINT [CH_Carreras_Nombre_SoloLetras]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [CH_Cursos_CursoCode_Formato] CHECK  ((len(Trim([CursoCode]))>=(1) AND len(Trim([CursoCode]))<=(15) AND NOT ([CursoCode]) collate Latin1_General_BIN like '%[^A-Z0-9]%'))
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [CH_Cursos_CursoCode_Formato]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [CH_Cursos_Nivel] CHECK  (([Nivel]>=(1) AND [Nivel]<=(12)))
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [CH_Cursos_Nivel]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [CH_Cursos_Nombre_NoVacio] CHECK  ((len(Trim([Nombre]))>(0) AND NOT [Nombre] like ' %' AND NOT [Nombre] like '% ' AND NOT [Nombre] like '%  %'))
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [CH_Cursos_Nombre_NoVacio]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [CH_Cursos_Nombre_SoloLetras] CHECK  ((NOT [Nombre] like '%[^A-Za-zÁÉÍÓÚáéíóúÑñ ]%'))
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [CH_Cursos_Nombre_SoloLetras]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [CH_Grupos_Cupo] CHECK  (([Cupo]>(0)))
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [CH_Grupos_Cupo]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [CH_Grupos_GrupoCode_Formato] CHECK  ((len(Trim([GrupoCode]))>=(1) AND len(Trim([GrupoCode]))<=(15) AND NOT ([GrupoCode]) collate Latin1_General_BIN like '%[^A-Z0-9]%'))
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [CH_Grupos_GrupoCode_Formato]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [CH_Grupos_Horario_NoVacio] CHECK  ((len(Trim([Horario]))>(0) AND NOT [Horario] like ' %' AND NOT [Horario] like '% ' AND NOT [Horario] like '%  %'))
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [CH_Grupos_Horario_NoVacio]
GO
ALTER TABLE [dbo].[Grupos]  WITH CHECK ADD  CONSTRAINT [CH_Grupos_NumeroGrupo] CHECK  (([NumeroGrupo]>(0)))
GO
ALTER TABLE [dbo].[Grupos] CHECK CONSTRAINT [CH_Grupos_NumeroGrupo]
GO
ALTER TABLE [dbo].[Instituciones]  WITH CHECK ADD  CONSTRAINT [CH_Instituciones_InstitucionCode_Formato] CHECK  ((len(Trim([InstitucionCode]))>(0) AND NOT ([InstitucionCode]) collate Latin1_General_BIN like '%[^A-Z0-9]%'))
GO
ALTER TABLE [dbo].[Instituciones] CHECK CONSTRAINT [CH_Instituciones_InstitucionCode_Formato]
GO
ALTER TABLE [dbo].[Instituciones]  WITH CHECK ADD  CONSTRAINT [CH_Instituciones_Nombre_NoVacio] CHECK  ((len(Trim([Nombre]))>(0) AND NOT [Nombre] like ' %' AND NOT [Nombre] like '% ' AND NOT [Nombre] like '%  %'))
GO
ALTER TABLE [dbo].[Instituciones] CHECK CONSTRAINT [CH_Instituciones_Nombre_NoVacio]
GO
ALTER TABLE [dbo].[Instituciones]  WITH CHECK ADD  CONSTRAINT [CH_Instituciones_Nombre_SoloLetras] CHECK  ((NOT [Nombre] like '%[^A-Za-zÁÉÍÓÚáéíóúÑñ ]%'))
GO
ALTER TABLE [dbo].[Instituciones] CHECK CONSTRAINT [CH_Instituciones_Nombre_SoloLetras]
GO
ALTER TABLE [dbo].[Periodos]  WITH CHECK ADD  CONSTRAINT [CH_Periodos_Anio] CHECK  (([Anio]>=(1976)))
GO
ALTER TABLE [dbo].[Periodos] CHECK CONSTRAINT [CH_Periodos_Anio]
GO
ALTER TABLE [dbo].[Periodos]  WITH CHECK ADD  CONSTRAINT [CH_Periodos_Fechas] CHECK  (([FechaFin]>[FechaInicio]))
GO
ALTER TABLE [dbo].[Periodos] CHECK CONSTRAINT [CH_Periodos_Fechas]
GO
ALTER TABLE [dbo].[Periodos]  WITH CHECK ADD  CONSTRAINT [CH_Periodos_NumeroPeriodo] CHECK  (([NumeroPeriodo]>(0)))
GO
ALTER TABLE [dbo].[Periodos] CHECK CONSTRAINT [CH_Periodos_NumeroPeriodo]
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD  CONSTRAINT [CH_Profesores_Email_Formato] CHECK  ((len(Trim([Email]))>=(7) AND NOT [Email] like ' %' AND NOT [Email] like '% ' AND NOT [Email] like '% %' AND [Email] like '%_@_%._%' AND NOT [Email] like '%@%@%' AND NOT [Email] like '%..%' AND NOT [Email] like '%@.%' AND NOT [Email] like '[.@]%' AND NOT [Email] like '%[@.]'))
GO
ALTER TABLE [dbo].[Profesores] CHECK CONSTRAINT [CH_Profesores_Email_Formato]
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD  CONSTRAINT [CH_Profesores_Identificacion_Formato] CHECK  ((len(Trim([Identificacion]))>=(9) AND NOT [Identificacion] like ' %' AND NOT [Identificacion] like '% ' AND NOT [Identificacion] like '% %' AND NOT [Identificacion] like '%[^A-Za-z0-9]%'))
GO
ALTER TABLE [dbo].[Profesores] CHECK CONSTRAINT [CH_Profesores_Identificacion_Formato]
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD  CONSTRAINT [CH_Profesores_MayorEdad] CHECK  (([FechaNacimiento]<=dateadd(year,(-18),CONVERT([date],getdate()))))
GO
ALTER TABLE [dbo].[Profesores] CHECK CONSTRAINT [CH_Profesores_MayorEdad]
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD  CONSTRAINT [CH_Profesores_NombreCompleto_NoVacio] CHECK  ((len(Trim([NombreCompleto]))>(0) AND NOT [NombreCompleto] like ' %' AND NOT [NombreCompleto] like '% ' AND NOT [NombreCompleto] like '%  %'))
GO
ALTER TABLE [dbo].[Profesores] CHECK CONSTRAINT [CH_Profesores_NombreCompleto_NoVacio]
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD  CONSTRAINT [CH_Profesores_NombreCompleto_SoloLetras] CHECK  ((NOT [NombreCompleto] like '%[^A-Za-zÁÉÍÓÚáéíóúÑñ ]%'))
GO
ALTER TABLE [dbo].[Profesores] CHECK CONSTRAINT [CH_Profesores_NombreCompleto_SoloLetras]
GO
ALTER TABLE [dbo].[TelefonosXProfesores]  WITH CHECK ADD  CONSTRAINT [CH_TelefonosXProfesores_Telefono_Formato] CHECK  ((len(Trim([Telefono]))>=(8) AND NOT [Telefono] like ' %' AND NOT [Telefono] like '% ' AND NOT [Telefono] like '% %' AND NOT [Telefono] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[TelefonosXProfesores] CHECK CONSTRAINT [CH_TelefonosXProfesores_Telefono_Formato]
GO
/****** Objeto: StoredProcedure [dbo].[usp_Cursos_Crear] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Cursos_Crear]
    @CursoCode VARCHAR(15),
    @CarreraCode VARCHAR(15),
    @Nombre VARCHAR(150),
    @Nivel TINYINT,
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Cursos
    (
        CursoCode,
        CarreraCode,
        Nombre,
        Nivel,
        Estado
    )
    VALUES
    (
        @CursoCode,
        @CarreraCode,
        @Nombre,
        @Nivel,
        @Estado
    )
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Cursos_Eliminar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Cursos_Eliminar]
    @CursoCode VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Cursos
    WHERE CursoCode = @CursoCode
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Cursos_Modificar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Cursos_Modificar]
    @CursoCode VARCHAR(15),
    @CarreraCode VARCHAR(15),
    @Nombre VARCHAR(150),
    @Nivel TINYINT,
    @Estado BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Cursos
    SET
        CarreraCode = @CarreraCode,
        Nombre = @Nombre,
        Nivel = @Nivel,
        Estado = @Estado
    WHERE CursoCode = @CursoCode
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Cursos_ObtenerPorCarrera] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Cursos_ObtenerPorCarrera]
    @CarreraCode VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CursoCode,
        CarreraCode,
        Nombre,
        Nivel,
        Estado
    FROM dbo.Cursos
    WHERE CarreraCode = @CarreraCode
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Cursos_ObtenerPorId] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Cursos_ObtenerPorId]
    @CursoCode VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CursoCode,
        CarreraCode,
        Nombre,
        Nivel,
        Estado
    FROM dbo.Cursos
    WHERE CursoCode = @CursoCode
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Cursos_ObtenerTodos] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[usp_Cursos_ObtenerTodos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CursoCode,
        CarreraCode,
        Nombre,
        Nivel,
        Estado
    FROM dbo.Cursos
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Grupo_Crear] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Grupo_Crear]
    @GrupoCode VARCHAR(15),
    @NumeroGrupo TINYINT,
    @CursoCode VARCHAR(15),
    @ProfesorID UNIQUEIDENTIFIER,
    @Horario VARCHAR(30),
    @Cupo INT,
    @PeriodoID UNIQUEIDENTIFIER,
    @Estado BIT
AS
BEGIN
    INSERT INTO dbo.Grupos
    (
        GrupoCode,
        NumeroGrupo,
        CursoCode,
        ProfesorID,
        Horario,
        Cupo,
        PeriodoID,
        Estado
    )
    VALUES
    (
        @GrupoCode,
        @NumeroGrupo,
        @CursoCode,
        @ProfesorID,
        @Horario,
        @Cupo,
        @PeriodoID,
        @Estado
    )
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Grupo_Eliminar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Grupo_Eliminar]
    @GrupoCode VARCHAR(15)
AS
BEGIN
    DELETE FROM dbo.Grupos
    WHERE GrupoCode = @GrupoCode
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Grupo_Modificar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Grupo_Modificar]
    @GrupoCode VARCHAR(15),
    @NumeroGrupo TINYINT,
    @CursoCode VARCHAR(15),
    @ProfesorID UNIQUEIDENTIFIER,
    @Horario VARCHAR(30),
    @Cupo INT,
    @PeriodoID UNIQUEIDENTIFIER,
    @Estado BIT
AS
BEGIN
    UPDATE dbo.Grupos
    SET NumeroGrupo = @NumeroGrupo,
        CursoCode = @CursoCode,
        ProfesorID = @ProfesorID,
        Horario = @Horario,
        Cupo = @Cupo,
        PeriodoID = @PeriodoID,
        Estado = @Estado
    WHERE GrupoCode = @GrupoCode
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Grupo_ObtenerPorId] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Grupo_ObtenerPorId]
    @GrupoCode VARCHAR(15)
AS
BEGIN
    SELECT
        GrupoCode,
        NumeroGrupo,
        CursoCode,
        ProfesorID,
        Horario,
        Cupo,
        PeriodoID,
        Estado
    FROM dbo.Grupos
    WHERE GrupoCode = @GrupoCode
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Grupo_ObtenerTodos] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Grupo_ObtenerTodos]
AS
BEGIN
    SELECT
        GrupoCode,
        NumeroGrupo,
        CursoCode,
        ProfesorID,
        Horario,
        Cupo,
        PeriodoID,
        Estado
    FROM dbo.Grupos
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Periodo_Crear] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Periodo_Crear]
    @Anio SMALLINT, @NumeroPeriodo INT, @FechaInicio DATE, @FechaFin DATE, @Estado BIT
AS
BEGIN
    INSERT INTO dbo.Periodos (Anio, NumeroPeriodo, FechaInicio, FechaFin, Estado)
    OUTPUT INSERTED.PeriodoID, INSERTED.Anio, INSERTED.NumeroPeriodo, INSERTED.FechaInicio, INSERTED.FechaFin, INSERTED.Estado
    VALUES (@Anio, @NumeroPeriodo, @FechaInicio, @FechaFin, @Estado)
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Periodo_Eliminar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Periodo_Eliminar]
    @PeriodoID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM dbo.Periodos
    WHERE PeriodoID = @PeriodoID
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Periodo_Modificar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Periodo_Modificar]
    @PeriodoID UNIQUEIDENTIFIER, @Anio SMALLINT, @NumeroPeriodo INT, @FechaInicio DATE, @FechaFin DATE, @Estado BIT
AS
BEGIN
    UPDATE dbo.Periodos
    SET Anio = @Anio, NumeroPeriodo = @NumeroPeriodo, FechaInicio = @FechaInicio, FechaFin = @FechaFin, Estado = @Estado
    WHERE PeriodoID = @PeriodoID
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Periodo_ObtenerPorId] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Periodo_ObtenerPorId]
    @PeriodoID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT PeriodoID, Anio, NumeroPeriodo, FechaInicio, FechaFin, Estado
    FROM dbo.Periodos
    WHERE PeriodoID = @PeriodoID
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Periodo_ObtenerTodos] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Periodo_ObtenerTodos]
AS
BEGIN
    SELECT PeriodoID, Anio, NumeroPeriodo, FechaInicio, FechaFin, Estado
    FROM dbo.Periodos
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Profesor_Crear] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Profesor_Crear]
    @UsuarioID UNIQUEIDENTIFIER,
    @TipoIdentificacionCode VARCHAR(15),
    @Identificacion VARCHAR(30),
    @Email VARCHAR(150),
    @NombreCompleto VARCHAR(175),
    @FechaNacimiento DATE,
    @Estado BIT,
    @Telefonos dbo.TelefonoProfesorType READONLY
AS
BEGIN
    DECLARE @ProfesorCreado TABLE (ProfesorID UNIQUEIDENTIFIER)
    DECLARE @ProfesorID UNIQUEIDENTIFIER

    INSERT INTO dbo.Profesores
    (
        UsuarioID,
        TipoIdentificacionCode,
        Identificacion,
        Email,
        NombreCompleto,
        FechaNacimiento,
        Estado
    )
    OUTPUT INSERTED.ProfesorID INTO @ProfesorCreado
    VALUES
    (
        @UsuarioID,
        @TipoIdentificacionCode,
        @Identificacion,
        @Email,
        @NombreCompleto,
        @FechaNacimiento,
        @Estado
    )

    SELECT @ProfesorID = ProfesorID
    FROM @ProfesorCreado

    INSERT INTO dbo.TelefonosXProfesores (ProfesorID, Telefono, Estado)
    SELECT @ProfesorID, Telefono, 1
    FROM @Telefonos

    SELECT
        p.ProfesorID,
        p.UsuarioID,
        p.TipoIdentificacionCode,
        p.Identificacion,
        p.Email,
        p.NombreCompleto,
        p.FechaNacimiento,
        p.Estado,
        t.Telefono
    FROM dbo.Profesores p
    LEFT JOIN dbo.TelefonosXProfesores t ON p.ProfesorID = t.ProfesorID
    WHERE p.ProfesorID = @ProfesorID
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Profesor_Eliminar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Profesor_Eliminar]
    @ProfesorID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM dbo.TelefonosXProfesores
    WHERE ProfesorID = @ProfesorID

    DELETE FROM dbo.Profesores
    WHERE ProfesorID = @ProfesorID
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Profesor_Modificar] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Profesor_Modificar]
    @ProfesorID UNIQUEIDENTIFIER,
    @UsuarioID UNIQUEIDENTIFIER,
    @TipoIdentificacionCode VARCHAR(15),
    @Identificacion VARCHAR(30),
    @Email VARCHAR(150),
    @NombreCompleto VARCHAR(175),
    @FechaNacimiento DATE,
    @Estado BIT,
    @Telefonos dbo.TelefonoProfesorType READONLY
AS
BEGIN
    UPDATE dbo.Profesores
    SET UsuarioID = @UsuarioID,
        TipoIdentificacionCode = @TipoIdentificacionCode,
        Identificacion = @Identificacion,
        Email = @Email,
        NombreCompleto = @NombreCompleto,
        FechaNacimiento = @FechaNacimiento,
        Estado = @Estado
    WHERE ProfesorID = @ProfesorID

    DELETE FROM dbo.TelefonosXProfesores
    WHERE ProfesorID = @ProfesorID

    INSERT INTO dbo.TelefonosXProfesores (ProfesorID, Telefono, Estado)
    SELECT @ProfesorID, Telefono, 1
    FROM @Telefonos
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Profesor_ObtenerPorId] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Profesor_ObtenerPorId]
    @ProfesorID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT
        p.ProfesorID,
        p.UsuarioID,
        p.TipoIdentificacionCode,
        p.Identificacion,
        p.Email,
        p.NombreCompleto,
        p.FechaNacimiento,
        p.Estado,
        t.Telefono
    FROM dbo.Profesores p
    LEFT JOIN dbo.TelefonosXProfesores t ON p.ProfesorID = t.ProfesorID
    WHERE p.ProfesorID = @ProfesorID
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_Profesor_ObtenerTodos] Fecha de script: 07/10/2026 16:14:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Profesor_ObtenerTodos]
AS
BEGIN
    SELECT
        p.ProfesorID,
        p.UsuarioID,
        p.TipoIdentificacionCode,
        p.Identificacion,
        p.Email,
        p.NombreCompleto,
        p.FechaNacimiento,
        p.Estado,
        t.Telefono
    FROM dbo.Profesores p
    LEFT JOIN dbo.TelefonosXProfesores t ON p.ProfesorID = t.ProfesorID
END
GO
USE [master]
GO
